#hero {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;

  @include to($breakpoint-lg) {
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
    text-align: center;
  }

  .head-shot {
    margin: 0.9375rem;

    &-img {
      border-radius: 100%;
    }

  }

  .description {
    margin: 0.9375rem;

    @include to($breakpoint-lg) {
      margin: unset;
    }

    p, h1, h3 {
      margin: 0;
    }

    &-intro {
      font-family: "PoppinsLight", sans-serif;
    }

    &-name {
      font-family: "PoppinsBlack", sans-serif;
      font-size: 250%;

      @include to($breakpoint-lg) {
        line-height: 2.188rem;
      }
    }

    &-title {
      background: colors('dark');
      border-radius: 0.1875rem;
      color: colors('light');
      display: inline;
      font-family: "PoppinsBold", sans-serif;
      font-size: 150%;
      letter-spacing: 0.3125rem;
      padding: 0.3125rem 0.9375rem;

      @include to($breakpoint-lg) {
        background: unset;
        color: colors('dark');
        letter-spacing: unset;
        padding: unset;
        white-space: nowrap;
      }
    }

    &-location {
      padding: 0.9375rem 0;
    }
  }

  .social-media-icons {
    a {
      font-family: "PoppinsBlack", sans-serif;
      padding-right: 0.9375rem;

      svg {
        @include transition(300ms);

        &:hover {
          transform: scale(1.5);
        }
      }

      .facebook {
        &:hover {
          svg {
            color: colors('facebook');
          }
        }
      }

      .twitter {
        &:hover {
          svg {
            color: colors('twitter');
          }
        }
      }

      .linkedIn {
        &:hover {
          svg {
            color: colors('linkedIn');
          }
        }
      }

      .github {
        &:hover {
          svg {
            color: colors('github');
          }
        }
      }
    }
  }
}
