//-------------------------------------------
// @Colors
// -------------------------------------------
$default-colors: (
        light-grey: #f9f9f9,
        light: #fff,
        dark: #222,
        grey-color: #bfbfbf,
        twitter: #00acee,
        google: #db4437,
        facebook: #4267b2,
        mainTheme: #222,
        mainThemeII: #7d979e,
);

//-------------------------------------------
// @BreakPoints
// -------------------------------------------
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//-------------------------------------------
// @Variables Definitions
// -------------------------------------------

$header-height: 5rem;
$footer-height: 1.875rem;
