//@import "normalize";

// ---------------------------------------------------------
// @Resets
// ---------------------------------------------------------

*, *::before, *::after {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body, html {
  color: colors('dark');
  font-family: "PoppinsRegular", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: colors('dark');
}


.wrapper {
  height: 100vh;
  margin: 0 1.875rem;


}
