
// ---------------------------------------------------------
// @Font Definitions
// ---------------------------------------------------------

@font-face {
  font-family: 'PoppinsMedium';
  font-display: auto;
  src: url("./fonts/Poppins-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'PoppinsRegular';
  font-display: auto;
  src: url("./fonts/Poppins-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'PoppinsLight';
  font-display: auto;
  src: url("./fonts/Poppins-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'PoppinsBold';
  font-display: auto;
  src: url("./fonts/Poppins-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  font-display: auto;
  src: url("./fonts/Poppins-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'PoppinsBlack';
  font-display: auto;
  src: url("./fonts/Poppins-Black.ttf") format('truetype');
}
